black
pygments>=2.7.4
markdown>=3.3
matplotlib~=3.9.0
jinja2
requests
mdx_truly_sane_lists
PyYAML
pandas~=2.2.2
jupyter
pydot
boto3
tensorflow~=2.14.1
keras-tuner
keras-cv
keras-nlp
numpy~=1.25.2
keras~=2.14.0
tqdm~=4.66.4
scipy~=1.9.3
scikit-learn~=1.4.2
seaborn~=0.13.2
psutil~=5.9.8
